/* 
    Document   : principal
    Created on : 5/05/2013, 02:29:28 PM
    Author     : fmagrosoto
    Description:
        CSS para sistema punto de venta.
*/

body {
    font-size: 10pt;
    background-color: white;
    color: black;
    font-family: monospace;
}
img {
    border: none;
}
:focus {
    outline: none;
}
hr {
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
}
#contenedor-principal {
    position: relative;
    width: 100%;
    margin: auto;
}

.imgLogo {
    width: 100%;
}

header {
    background-color: white;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}
header h1 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-shadow: none;
}

/* CUERPO */
section {
    margin: 25px 0;
    min-height: 0;
}

nav {
    display: none;
}

.titulo h2 {
    margin: 0;
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
    text-shadow: none;
}
.espacio {
    height: 25px;
}
.ver-venta {
    margin-bottom: 0;
}
.ver-venta td {
    background-color: white;
    border: 0;
    padding: 0;
}
.ver-productos {
    margin-bottom: 0;
}
.ver-productos thead th, .ver-productos tfoot td {
    background-color: white;
    padding: 0;
    border: none;
}
.ver-productos tfoot td {
    color: black;
}
.ver-productos tbody td {
    background-color: white;
    padding: 0;
    border: none;
}

.botones-bottom {
    display: none;
}

/* ----- */

footer {
    background-color: white;
    padding: 0;
    border-radius: 0;
    border: none;
    overflow: auto;
    color: black;
    text-shadow: none;
}
footer p {
    margin: 0;
    padding: 0;
}
footer .legales {
    float: left;
}
footer .creditos {
    float: right;
    display: none;
}
